<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h2><a href="{{url_for('new_author')}}">Add new author</a></h2>

		</br></br>
{% for author in authors.items %}
{% include 'author.html' %}
     </br>
{% endfor %}
{% if authors.has_prev %}<a href="{{ url_for('show_authors', page = authors.prev_num) }}"><< Newer authors</a>{% else %}<< Newer authors{% endif %}
{% if authors.has_next %}<a href="{{ url_for('show_authors', page = authors.next_num) }}">Older authors >></a>{% else %}Older authors >>{% endif %}

{% endblock %}
