<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Author</h1>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Your Author Name:</td>
            <td>{{form.name(size='30') }}
                <input type='submit' value='Edit'>
                {% for error in form.errors.name %}
                <br><span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </td>
        </tr>

    </table>
</form>

<h2>Add another book</h2>

<form action="{{url_for('add_book_to_author', author_id=author.id)}}" method="POST">
    {{ add_book_form.book }}
                {% for error in add_book_form.errors.book %}
                <br><span style="color: red;">[{{error}}]</span>
                {% endfor %}
    <input type='submit' value='Add book'>
</form>

<h2>List of books</h2>
	{% for book in books %}
		<form action="{{url_for('delete_book_from_author', author_id = author.id, book_id=book.id)}}" method = 'POST'>
			{{book.book_title}}
			<input type='submit' value='Delete'>
		</form>

	{%endfor%}
</br>
<a href= '{{url_for('show_authors')}}'>Return</a>
{% endblock %}



