{% extends "base.html" %}
{% block content %}
  <form action="" method=post class="form-horizontal">
      {{ form.hidden_tag() }}
    <h2> New Author </h2>

    <div class="control-group">
        <div class="controls">
            {{ form.name(class="input-xlarge", placeholder="Enter author`s name", required=True) }}
            {% for error in form.errors.name %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Add author</button>
        </div>
    </div>
  </form>
{% endblock %}
