<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Book</h1>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Your Book Title:</td>
            <td>{{form.book_title(size='30') }}
                <input type='submit' value='Edit'>
                {% for error in form.errors.book_title %}
                <br><span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </td>
        </tr>

    </table>
</form>
</br>
<a href= '{{url_for('show_books')}}'>Cancel</a>
{% endblock %}



