<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h2><a href="{{url_for('new_book')}}">Add new book</a></h2>

		</br></br>
{% for book in books.items %}
	{% include 'book.html' %}
     </br>
{% endfor %}

{% if books.has_prev %}<a href="{{ url_for('show_books', page = books.prev_num) }}"><< Newer books</a>{% else %}<< Newer books{% endif %}
{% if books.has_next %}<a href="{{ url_for('show_books', page = books.next_num) }}">Older books >></a>{% else %}Older books >>{% endif %}

{% endblock %}
