{% extends "base.html" %}
{% block content %}
  <form action="" method=post class="form-horizontal">
      {{ form.hidden_tag() }}
    <h2> New Book </h2>

    <div class="control-group">
        <div class="controls">
            {{ form.book_title(class="input-xlarge", placeholder="Enter book title", required=True) }}
            {% for error in form.errors.book_title %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            {{ form.author }}
            {% for error in form.errors.author %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Add book</button>
        </div>
    </div>
  </form>
{% endblock %}
